body {
    margin: 0;
    font-family: 'Roboto Slab', 'Arial';
    background: #000000;
}

h1 {
    margin: 0;
}

.top-bar {
    width: 100%;
    /* height: 100px; */
    background: #191948;
    padding: 15px;
    color: white;
}

.top-image {
    width: 100%;
}

img {
    width: 100%;
}

.naos-group {
    width: 17%;
    height: 55px;
    float: left;
    margin: 10px;
    border: 3px solid #909090;
    border-radius: 5px;
    padding: 5px;
    background: #555555;
    overflow: hidden;
}

.naos-group:hover {
    cursor: pointer;
    border: 3px solid #ffffff;
}

.naos-group:active {
    cursor: pointer;
    border: 3px solid #ffd800;
}

.main-container {
    width: 95%;
    margin: auto;
}

.group-title {
    font-size: 20px;
    color: white;
    /* margin-bottom: 5px; */
    /* padding: 10px; */
    padding-bottom: 0;
}

.group-text,
.phone {
    color: #e2e2e2;
    padding: 10px;
    display: none;
}

.search {
    padding: 10px;
}

.search-text {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

button.search-button {
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

button.search-button:hover {
    cursor: pointer;
}

.inactive {
    pointer-events: none;
    background-color: #2a2a2a;
    border-color: #4b4b4b;
}